body{
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
    background-color: #FFFFF0;
    color: rgb(6 23  52);   
}

.title{
    margin: 0px;
    padding: 30px;
    text-align: center;
    font-size: 50px;
    font-style: italic;
    background-color: #BCB88A;
    border-bottom: 2px solid black;
}

.welcome{
    margin-top: 30px;
    margin-bottom: 0px;
    line-height: 2;
    text-align: center;
    font-size: 25px;
    font-style: oblique;
}

#content{
    margin: 0px;
    padding: 0% 15%;
    min-height: 500px;
}

#sketch{
    /* Prevent nearby text being highlighted when accidentally
       dragging mouse outside confines of the canvas */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.leftside{
    margin: 0 auto;
    margin-top: 4%;
    text-align: center;    
}

#myCanvas{
    border: 3px solid #BCB88A;
    background-color: black;
}

.button{
    margin: 20px;
}
.btn{
    padding: 10px;
    width: 100px;
    font-size: 15px;
    font-weight: bold;    
    background-color:#BCB88A;
    border: 1px solid #BCB88A;
    border-radius: 20px;        
}
.btn:hover{   
    background-color: #BCB88A;
    border: 2px solid black;
}
#predict_button{
    margin-right: 20px;   
}
#clear_button{
    margin-left: 20px;    
}

.rightside{
    margin: 0 auto;  
    margin-top: 1%;
    text-align: center;      
}

#prediction_heading{
    text-decoration: underline;
    font-size: 30px;
    font-style: italic;    
}
#result{
    margin: 0px;
    padding: 0px;
    font-size: 150px;    
}
#confidence{
    padding-top: 10px;
    font-size: 20px;    
}


.hr1{
    border: 2px solid rgb(6, 23, 52);
}

#about{
    text-align: center;
    text-decoration: underline;
    font-size: 30px;;
}

#introduction{
    padding-left: 150px;
    padding-right: 150px;
    font-size: 20px;
    font-style: oblique;
}

.footer{
    padding: 10px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
    color: white;
}
#developer{
    flex-basis: 100%;
    text-align: center;
}
#linkedin{    
    padding-right: 20px;    
}
#github{
    padding-left: 20px;
}
